/* Configuración global */
:root {
  --content-background: #fcc302; /* Fondo amarillo general de la pagina */
  --nav-background: #daac00; /* Naranja oscuro de barra de busqueda */
  --footer-background: #343434; /* Gris de pie de pagina */
  --text-black-color: #313243; /* Color de texto azul oscuro */
  --secondary-background: #00bec9; /* Azul de iconos */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Definimos la fuente */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: white;
  position: static;
  font-family: "Poppins";
  font-weight: normal;
}

.container {
  width: 100%;
}

p {
  padding: 10px 0;
}

/* Navbar, encabezado */
header {
  background-color: var(--nav-background);
  color: white;
  width: 100%;
  padding: 1.2rem 10rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 5fr 3fr;
  overflow: hidden;
  align-items: center;
  font-size: 7pt;
}

.header-logo {
  grid-area: 1/1/2/2;
  justify-items: center;
  width: 50%;
}

.nav {
  font-size: large;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  float: left;
  margin: 0 2rem 0 0;
  list-style: none;
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: white;
}

.search {
  justify-content: center;
  align-items: center;
  float: right;
  width: 50%;
}

.search input[type="text"] {
  border: none;
  font-size: medium;
  padding: 6px 10px;
  width: 80%;
  background-color: var(--content-background);
  color: white;
}

::placeholder {
  color: white;
}

.fa-search {
  color: white;
}

.search button {
  float: right;
  padding: 7px 10px;
  width: 20%;
  height: auto;
  border: none;
  cursor: pointer;
  background-color: var(--secondary-background);
}

/* Contenido, como en el diseño, se alterna entre amarillo y blanco */
h1 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

#title {
  text-align: center;
}

.content-history,
.content-team,
.content-brand,
.content-terms,
.content-privacy {
  padding: 1.5rem 10rem;
  text-align: left;
}

.content-history,
.content-privacy {
  background-color: var(--content-background);
  color: white;
}
.content-history,
.content-brand,
.content-privacy a {
  color: white;
}

.content-brand img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
}

.content-brand {
  padding: 0;
  z-index: 0;
  display: grid;
  grid-template-rows: auto;
}

.content-brand #transparencia-amarilla {
  background: var(--content-background);
  z-index: 1;
  width: 100%;
  height: 79.3%;
  position: absolute;
  opacity: 0.8;
}

.content-brand #iconosvacuna {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 10rem;
  transform: translate(0, 50%);
}

#ico1 {
  padding: 4rem;
  text-align: center;
  opacity: 1;
}

#ico1 img {
  width: 30%;
  opacity: 1;
}

.content-team {
  color: var(--text-black-color);
}

.content-terms {
  color: var(--text-black-color);
}

.news-description {
  color: var(--text-black-color);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: normal;
  font-size: auto;
}

.news-description .card {
  box-shadow: 0 4px 8px 0 #d6d6d6;
  padding: 0;
  margin: 0 1.5rem;
  text-align: left;
}

.news-description .card-container {
  padding: 5rem;
}

.news-description .card-container a {
  color: var(--secondary-background);
  font-weight: bolder;
  text-decoration: none;
}
.news-description .card-container p {
  color: var(--secondary-background);
}

/* #d6d6d6 */
/* Contenido de nuestro equipo imagenes de las veterinarias*/
.team-description {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  padding: 2px 16px;
  text-align: center;
}

.card-container .fa-instagram,
.card-container .fa-facebook,
.card-container .fa-twitter-square,
.card-container .fa-whatsapp-square {
  color: var(--nav-background);
}

img {
  width: 100%;
  height: auto;
}

/* Footer */
footer {
  background-color: var(--footer-background);
  color: white;
  width: 100%;
  padding: 5rem 10rem;
  display: grid;
  grid-template-rows: 90% 10%;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  list-style: none;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.footer-about {
  grid-area: 1/1/2/2;
}

.footer-services {
  grid-area: 1/2/2/3;
}

.footer-contact {
  text-align: end;
}

.contact-message {
  width: 100%;
  height: 4em;
}

.contact-message input[type="text"] {
  border: none;
  font-size: large;
  padding: 6px 10px;
  height: 100%;
  width: 75%;
  background-color: var(--content-background);
  color: white;
}

.contact-message button {
  float: right;
  padding: 7px 10px;
  height: 100%;
  width: 25%;
  border: none;
  cursor: pointer;
  background-color: var(--secondary-background);
}

.contact-social {
  padding-top: 1rem;
}

.credits {
  padding-top: 0.1rem;
}
